.header {
    background-color: #03193a;
    padding: 10px 20px;
    border-bottom: 0.8px solid #f5f9ff0d;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        width: 100%;

        .logo-menu {
            .menu-icon {
                color: white;
                font-size: 20px;
            }
            .logo {
                height: 32px;
            }
        }
        
        .menu {
            background: transparent;
            width: 500px;
            .menu-text {
                text-transform: uppercase;
                color: white;
            }
            .menu-text:hover {
                color: white;
            }
            .ant-menu-horizontal {
                background: transparent;
                border-bottom: none;
                .ant-menu-item {
                    &:hover {
                        color: #1a73e8;
                    }
                }
            }
        }

        .actions {
            .search-icon {
                color: white;
                font-size: 20px;
            }
            .login-btn {
                border-color: #f5f5f5;
                color: white;
                &:hover {
                    background-color: #f5f5f5;
                    color: #001f3f;
                }
            }
            .register-btn {
                background-color: #1a73e8;
                border-color: #1a73e8;

                &:hover {
                    background-color: #1a73e8cc; // Adjusted opacity for hover
                }
            }
        }
    }
}
